= turbo_page_requires_reload

%h1 Editing course_type

= render 'form'

.flex.gap-2
  = link_to 'Show', [@course, @course_type]
  \|
  = link_to 'Back', course_course_types_path(@course, @course_type)
