= turbo_page_requires_reload

%h1 Editing course_type

= render 'form'

.flex.gap-2.mt-4
  %wa-button{size: :small, href: course_course_type_path(@course, @course_type)} Show
  %wa-button{size: :small, href: course_path(@course, page: :course_types)} Back
