%h1.text-4xl.mb-4 Listing groups for #{@course.name}

= turbo_frame_tag 'groups-frame' do
  .flex.flex-col.w-full.gap-2
    - @groups.sort_by(&:name).each do |group|
      = render 'group_listing', group: group

= link_to 'New Group', new_course_group_path(@course)
