= turbo_frame_tag "add-rating-points-frame" do
  %wa-button.w-fit{variant: :brand, size: :small, href: new_course_coursework_rating_point_path(*objs)}
    %wa-icon(slot="prefix" name="plus")
    Add rating points
