= turbo_page_requires_reload

%h1 Editing rating_point

= render 'form'

.flex.gap-2
  = link_to 'Show', [@course, @coursework, @rating_point]
  \|
  = link_to 'Back', course_coursework_path(@course, @coursework)
