= turbo_frame_tag "add-submission-frame" do
  %wa-button.w-fit{variant: :brand, size: :small, href: new_course_group_submission_path(*objs)}
    %wa-icon(slot="prefix" name="plus")
    Add submission
