%h1 Listing submissions

= turbo_frame_tag "group-submissions-frame" do
  #submissions-listing.flex.flex-col.w-full.gap-2
    - @submissions.each do |submission|
      = render "submission_listing", submission: submission

= link_to 'New Submission', new_course_group_submission_path(@course, @group)
