@import "tailwindcss" source("../../../app");

@utility revert {
    display: revert;
}

@layer base {
    details[open] summary ~ * {
        animation: ease-opacity-t-b 0.5s ease;
    }

    details i {
        transition: all .3s ease-out;
    }

    details > summary {
        list-style: none;
    }

    details > summary::marker, /* Latest Chrome, Edge, Firefox */
    details > summary::-webkit-details-marker /* Safari */
    {
        display: none;
    }

    dialog.dialog {
        color: var(--color-text-normal);
    }

    .colored-scrollbar {
        scrollbar-color: var(--color-brand-fill-loud) #0a0f12;
    }
}

@layer components {
    /* External code styled with CSS */
    .turbo-progress-bar {
        --tw-shadow-color: var(--color-brand-fill-loud);
        background: var(--color-brand-fill-loud);
        @apply shadow;
    }
    /* This was copy-pasted from the hljs package */
    /*!
      Theme: Tokyo-night-Dark
      origin: https://github.com/enkia/tokyo-night-vscode-theme
      Description: Original highlight.js style
      Author: (c) Henri Vandersleyen <hvandersleyen@gmail.com>
      License: see project LICENSE
      Touched: 2022
    */
    pre code.hljs {
        display: block;
        overflow-x: auto;
        padding: 1em
    }

    code.hljs {
        padding: 3px 5px
    }

    .hljs-comment, .hljs-meta {
        color: #565f89
    }

    .hljs-deletion, .hljs-doctag, .hljs-regexp, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-id, .hljs-selector-pseudo, .hljs-tag, .hljs-template-tag, .hljs-variable.language_ {
        color: #f7768e
    }

    .hljs-link, .hljs-literal, .hljs-number, .hljs-params, .hljs-template-variable, .hljs-type, .hljs-variable {
        color: #ff9e64
    }

    .hljs-attribute, .hljs-built_in {
        color: #e0af68
    }

    .hljs-keyword, .hljs-property, .hljs-subst, .hljs-title, .hljs-title.class_, .hljs-title.class_.inherited__, .hljs-title.function_ {
        color: #7dcfff
    }

    .hljs-selector-tag {
        color: #73daca
    }

    .hljs-addition, .hljs-bullet, .hljs-quote, .hljs-string, .hljs-symbol {
        color: #9ece6a
    }

    .hljs-code, .hljs-formula, .hljs-section {
        color: #7aa2f7
    }

    .hljs-attr, .hljs-char.escape_, .hljs-keyword, .hljs-name, .hljs-operator {
        color: #bb9af7
    }

    .hljs-punctuation {
        color: #c0caf5
    }

    .hljs {
        background: var(--color-surface-default);
        color: var(--color-text-normal);
    }

    .hljs-emphasis {
        font-style: italic
    }

    .hljs-strong {
        font-weight: 700
    }
}

@theme {
    --color-charcoal2: #0a0f12;
    --color-charcoal22: #0f1316;
    --color-onyx: #303536;

    --color-surface-default: #11181e;
    --color-surface-raised: #202127;
    --color-surface-lowered: #0a1117;
    --color-surface-border: #15202b;

    --color-text-normal: #eaeaff;
    --color-text-quiet: #5f5f67;
    --color-text-link: #4cb0f1;

    --color-brand-fill-quiet: #321763;
    --color-brand-fill-normal: #472c78;
    --color-brand-fill-loud: #654a96;

    --color-brand-border-quiet: #503578;
    --color-brand-border-normal: #654a8d;
    --color-brand-border-loud: #8368ab;

    --color-brand-on-quiet: var(--color-brand-border-normal);
    --color-brand-on-normal: var(--color-text-normal);
    --color-brand-on-loud: var(--color-text-normal);

    --color-success-fill-quiet: #728964;
    --color-success-fill-normal: #87a376;
    --color-success-fill-loud: #82c86e;

    --color-success-border-quiet: #95a287;
    --color-success-border-normal: #a0d08f;
    --color-success-border-loud: #aff59b;

    --color-success-on-quiet: #e7f5e2;
    --color-success-on-normal: #eefbea;
    --color-success-on-loud: var(--color-text-normal);

    --color-neutral-fill-quiet: #0f1316;
    --color-neutral-fill-normal: #11181e;
    --color-neutral-fill-loud: #252c32;

    --color-neutral-border-quiet: #414548;
    --color-neutral-border-normal: #434a50;
    --color-neutral-border-loud: #575e64;

    --color-neutral-on-quiet: #e7f5e2;
    --color-neutral-on-normal: #eefbea;
    --color-neutral-on-loud: var(--color-text-normal);

    --color-warning-fill-quiet: #9f582a;
    --color-warning-fill-normal: #fa8e08;
    --color-warning-fill-loud: #e1750f;

    --color-warning-border-quiet: #bd7648;
    --color-warning-border-normal: #ff930d;
    --color-warning-border-loud: #ff932d;

    --color-warning-on-quiet: #e7f5e2;
    --color-warning-on-normal: #eefbea;
    --color-warning-on-loud: var(--color-text-normal);

    --color-danger-fill-quiet2: rgba(115, 8, 26, 0.1);
    --color-danger-fill-quiet: #73081a;
    --color-danger-fill-normal: #780d24;
    --color-danger-fill-loud: #96031A;

    --color-danger-border-quiet: #9b1c1a;
    --color-danger-border-normal: #b54343;
    --color-danger-border-loud: #822b2b;

    --color-danger-on-quiet: #e7f5e2;
    --color-danger-on-normal: #eefbea;
    --color-danger-on-loud: var(--color-text-normal);

    --x-rotate-loader: rotateX(65deg) rotate(45deg);

    --animate-loader: loader-shadow-pulse 1s linear infinite alternate;
    @keyframes loader-shadow-pulse {
        0% {
            box-shadow: 0 0 0 0
        }
        90%, 100% {
            box-shadow: 20px 20px 0 -4px
        }
    }

    --animate-loader-elem: loader-elem-pulse 1s linear infinite alternate;
    @keyframes loader-elem-pulse {
        0% {
            transform: translate(0, 0) scale(1)
        }
        100% {
            transform: translate(-25px, -25px) scale(1)
        }
    }
}